.login_header{
    font-size: 60px;
    color: black;
}
.login_div{
    box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #1f262d;
    margin-top: 4%;
    border-radius: 5px;
    padding: 30px;
}
.input_style{
	width: 50%;
	height: 40px;
	background-color: black;
	outline: none;
	border: none;
	border-radius: 10.1px;
	padding-left: 10px;
	color: #4cddc0;
}
#login_button{
	box-shadow: 0 8px 60px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 200px;
	height: 40px;
	border-radius: 10px;
	border: none;
	margin-top: 5%;
	outline: none;
	background-color: #4cddc0;
	transition: 400ms ease-in-out; 
}
#login_button:hover{
	background-color: #1a495b;
	color: white;
}

.error{
	margin: 0px 0px 10px 0px;
    color: red;
}
.loginInput{
	margin: 5px 0px 10px 0px;
}
.loginWrap{
	width: 80%;
}

